<%- include("partials/header"); -%>
<div class="about">
    <h1>About us</h1>
    <p> <%= about %> </p>
    <div class="about2">
        <p>It is a dynamic reliable website.</p>
        <p>Feel free to add your views here.</p>
    </div>
</div>
<%- include("partials/footer"); -%>
