<%- include("partials/header"); -%>
<form class="" action="/compose" method="post">
    <div class="container">
        <h1>Compose</h1>
        <div>
            <p>Title</p>
            <textarea name="title" rows="1"></textarea>
        </div>    
        <div>
            <p>Description</p>
            <textarea name="desc" rows="7"></textarea>
        </div>
        <br>
        <button type="submit">Save</button>
    </div>    
</form>

<%- include("partials/footer"); -%>
